@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 .anton-font{
    font-family: 'Anton', sans-serif;
 }
 @font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.isamanroo-font{
    font-family: 'GongGothicMedium', sans-serif;
}
@font-face {
   font-family: 'SBAggroB';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
.sbaggro-font{
   font-family: 'SBAggroB', sans-serif;
}

body {
    background-color : black;
    filter: drop-shadow(0px 0px 8px #ffffff);
}
.display-container {
    box-shadow: 0 0 15px hsla(0, 0%, 10%, .75);
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background-color:#fef5e8;
    background-size: cover;
}
 
 .island-title {
    font-size: 30px;
    color: rgba(0,0,0,0);
    margin-bottom: -32px;
    -webkit-text-stroke: 1px #287E3A;
 }
 
 .poolus-title {
    font-size: 100px;
    color: #287E3A;
    margin-bottom: -5px;
 }

 .part2{
    color:#287E3A;
 }

 .p2-map{
    width : 250px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
 }

 .part4{
    color:#287E3A;
 }

 .inputbox{
    border-color: #287E3A;
    border: 2.3px solid;
    width: 281;
    height: 35px;
    margin: 0 auto;
 }

 input[type=text] {
    background: none;
    border: none;
 }

 button{
   background-color: transparent;
   border: none;
   width: 300px;
   margin-bottom: 20px;
 }
 
 .booth {
   background-color: white;
   border-radius: 15px;
 }
 
 .booth img{
   border-radius: 15px 0 0 15px;
   margin-right: 10px;
 }

 .boothinfo {
   font-size: 14px;
   padding: 10px;
 }
 
 .boothtitle{
   font-size: 14px;
 }

 .boothsub{
   font-size: 12px;
 }